/* Popup */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-box {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 320px;
    border-radius: 10px;
    text-align: center;
}

.popup-box p {
    margin-bottom: 15px;
    font-size: 14px;
}

.popup-box button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background: #2575fc;
    color: white;
    cursor: pointer;
}
